@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');

#logo
{
    height: 5%;
    position: relative;
    left: 43%;
}

body
{
    background-color: rgb(39,39,39);
}

p
{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

header ul li #login
{
    float: right;
    padding: 10px, auto;
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
}

header ul li #signup
{
    float: right;
    padding: 10px, auto;
    color: white;
    /*display: block;*/
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    display: inline;
}

header ul
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.navigation
{
    list-style: none;
}

.navigation li
{
    display: inline;
}

nav
{
    background-color: blueviolet;
    border-radius: 20px;
}

.searchbox
{
    border-radius: 20px;
    display:inline;
    border:none;
    color: white;
    background-color: rgb(59,59,59);
    font-family: 'Ubuntu', sans-serif;
    height: 2%;
    box-sizing: border-box;
    position: relative;
    top: -0.2%;
}

.searchsubmit
{
    border-radius: 20px;
    display:inline;
    border:none;
    color: white;
    background-color: rgb(59,59,59);
    font-family: 'Ubuntu', sans-serif;
    height: 2%;
    box-sizing: border-box;
    position: relative;
    top: -0.2%;
}

.search
{
    float:right;
    display:inline;
    border:none;
}

hr
{
    margin: 0 -50%;
    border-top: 1px solid;
}

#welcome
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    max-width: 100%;
}

h3
{
    color: blueviolet;
    font-family: 'Ubuntu', sans-serif;
}

#categories table
{
    display: inline;
    position: relative;
    left: 20%;
    height: 20%;
    overflow-wrap: break-word;
    width: 45%;
    float:left;
}

#suggestions table
{
    display: inline;
    position: relative;
    left: 10%;
    height: 20%;
    overflow-wrap: break-word;
    width: 45%;
    float:right;
}

html, body
{
    max-width: 100%;
    overflow-x: hidden;
}

#warning
{
    color:red;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    max-width: 100%;
}